<div class="row mb-4 project">
    <div class="pl-6">
        <h2 class="pl-4">
            <!-- Call helper function with triple brackets to render the emoji span as HTML -->
            <p>Created by {{User.name}} on {{format_date date}}</p>


        </h2>
        <p>{{content}}</p>
        <button id='deleteCommentBtn' class="btn btn-sm btn-danger p-2" data-id="{{id}}"><img class="h-8 m-auto" src="./assets/images/icons8-delete-48.png"
          alt="A dark green delete icon">DELETE</button>
    </div>
</div>
<script src="./js/comment.js"></script>