<footer
    class="h-32 w-full max-w-6xl mt-auto bg-cover rounded-t-lg bg-bottom bg-[url('./assets/images/forrest-log.jpg')] text-yellow-200">
    <div class="p-4">
        <div class="text-xs">The Dread Scripts © 2024</div>
        {{!-- ICONS ATTRIBUTION NEEDS ATTENTION!!!!!! -Charles --}}
        <div class="text-[0.5em]">Icons provided by <a target="_blank" href="https://icons8.com">Icons8</a>
        </div>
    </div>
</footer>